body {
    background-color: bisque;
    text-decoration: none;
}

.Menu {
    text-align: center;
}

.Logo {
    justify-content: center;
}

.Description {
    background-color: gray;
    color: aliceblue;
    min-height: fit-content;
}

.Tombol1 {
    background-color: red;
}

.boxs {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

footer {
    text-align: center;
    background-color: gray;
}